@media screen and (min-width: 360px) {
    .fontStyle {
        font-size: 40px;
    }

    .left-space {
        margin-left: 15px;
    }
}

@media screen and (min-width: 578px) {
    .fontStyle {}
}

@media screen and (min-width: 768px) {
    .left-space {
        margin-left: 40px;
    }
}

@media screen and (min-width: 991px) {
    .banner-img {
        position: relative;
        top: 143px;
        left: -220px;
    }

    .fontStyle {
        font-size: 60px;
    }

    .left-space {
        margin-left: 110px;
    }
}