.bgPrimary {
    background-color: #bdbbb7;
}

.bgSecondary {
    background-color: #1a1919;
}

.primary-btn {
    background-color: #1a1919;
    color: white;
    padding: 8px 18px;
    border: none;
    height: 50px;
}