@font-face {
  font-family: EssenceFont;
  src: local(EssenceFont),
    url('./assets/fonts/Essence\ Sans.ttf') format('truetype'),
    url('./assets/fonts/Essence\ Sans\ Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: EssenceFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: EssenceFont, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}